@charset "UTF-8";

@media screen and (min-width: 768px) {

    header {
        background-color: #c4170c;
        padding: 16px;
    }

    header > h1{
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        color: white;
        font-weight: normal;
        text-align: center;
    }

    header.fixed {
        position: fixed;
        top: 0;
        width: 97.6%;
        z-index: 999;
    }

    menu#menu{
        display: block;
        text-align: center;
        margin-top: 20px;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        font-size: 16px;
    }

    menu#menu > a{
        text-decoration: none;
        color: #a6130a;
        font-size: 16px;
        font-weight: bold;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 15px;
    }
    menu#menu > a:hover{
        text-decoration: underline;
    }

    menu.itens{
        display:block;
    }

    main > article > p.subtitle{
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: normal;
        text-align: justify;
        color: #555555;
    }

    main > article > p.porg1{
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 40px;
        margin-top: 20px;
    }
    
    main > article > p.date{
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: normal;
        font-size: 16px;
        margin-top: 8px;
        padding-left: 20px;
        padding-right: 35px;
        margin-bottom: 30px;
        color: #555555;
    }

    main {
        width: 1000px;
        margin: auto;
    }

    main > article > img {
        width: 70%;
        margin: auto;
        display: block;
        border-radius: 15px;
    }

    main > article > h2{
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 56px;
        font-weight: bold;
        padding: 20px;
        margin-top: 10px;
    }

    main > article > p.conteudo{
        margin-top: 70px;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: justify;
        padding-left: 170px;
        padding-right: 170px;
        font-size: 20px;
        font-weight: normal;
        color: #555555;
    }

    img.apple{
        width: 670px;
    }

    h2.cont_ext{
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding-right: 170px;
        padding-left: 170px;
        margin-top: 30px;
        margin-bottom: 20px;
        color: #333333;
    }

    p.veja{
        padding-right: 170px;
        padding-left: 170px;
    }

    ul.list{
        padding-left: 210px; 
        font-family:'Open Sans', 'Helvetica Neue', sans-serif; 
        font-size: 18px; 
        font-weight: bold; 
        margin-top: 20px; 
        color: #333333;
    }

    iframe.ytb{
        display: block;
        margin: auto;
        width: 65%;
        height: 400px;
        margin-bottom: 300px;
    }


    p.extra{
        display: block;
        float: right;
        color: white;
        font-family:'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-bottom: 15px;
        padding-right: 10px;
    }

    footer{
        background-color: #c4170c;
        height: 155px;
    }
}